%h1 Quote & Appointment Confirmation

%p Thank you for requesting a quote for service on your auto.  One of our DentPro professionals should be contacting you shortly.  Here is a summary of your estimate that you can print.

= render :partial => "/quotes/summary"

