/* @override http://localhost:3000/stylesheets/formtastic-changes.css */

/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

/* quote form overrides */

form.formtastic.quote fieldset ol li {
  display: block;
}

form.formtastic.quote fieldset ol li.select label {
  width: 175px;
}

form.formtastic.quote li#quote_parts_input fieldset legend label {
  display: none;
}

form.formtastic.quote li#quote_parts_input fieldset ol {
  padding-left: 0px;
}

form.formtastic.quote li#quote_parts_input fieldset ol li label {
  width: 200px;
}

form.formtastic.quote fieldset.buttons {
  padding: 0px;
}

/* customer form overrides */

form.formtastic.customer fieldset ol li label {
  width: 100px;
}

form.formtastic.customer p.inline-hints {
  /* same as the width of the label set above */
  margin-left: 100px;
}

form.formtastic.customer li.radio fieldset ol {
	padding-left: 100px;
}

form.formtastic.customer li.radio fieldset ol li {
  display: block;
}

form.formtastic.customer fieldset.buttons {
  padding: 0px;
}

