%h1 Contact Us

#contact-us

  #contact-address
    %ul
      %li
        %b DentPro
      %li 1108 Willow Pass Court
      %li Concord, CA 94520
      %li +1 (925) 288-8900
      %li
        %a{:href=>'mailto:info@dentpro.com'}info@dentpro.com

  #contact-photo
    %img{:src => "/images/theBusiness.jpg", :alt => "DentPro Headquarters Photo"}

  #contact-map
    %h2 Get Directions
    %iframe{:width=>"640", :height=>"480", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;view=map&amp;q=1108+Willow+Pass+Court,+Concord,+California&amp;sll=38.015961,-122.001071&amp;sspn=0.004869,0.005407&amp;ie=UTF8&amp;hq=&amp;hnear=1108+Willow+Pass+Ct,+Concord,+Contra+Costa,+California+94565&amp;t=h&amp;ll=38.016046,-122.001672&amp;spn=0.008114,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"}

    %br
    %small
      %a{:href=>"http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;view=map&amp;q=1108+Willow+Pass+Court,+Concord,+California&amp;sll=38.015961,-122.001071&amp;sspn=0.004869,0.005407&amp;ie=UTF8&amp;hq=&amp;hnear=1108+Willow+Pass+Ct,+Concord,+Contra+Costa,+California+94565&amp;t=h&amp;ll=38.016046,-122.001672&amp;spn=0.008114,0.013733&amp;z=16&amp;iwloc=A", :style=>"color:#0000FF;text-align:left", :target=>'_blank'}View Larger Map

