%h1 Contact Us

#contact-address.col-one
  %ul
    %li
      %b DentPro
    %li 1108 Willow Pass Court
    %li Concord, CA 94520
    %li +1 (925) 288-8900
    %li
      %a{:href=>'mailto:info@dentpro.com'}info@dentpro.com

#contact-photo.col-two
  %img{:src => "/images/theBusiness.jpg", :alt => "DentPro Headquarters Photo"}

%h3 Our Locations
%p= "Are you #{link_to("looking for another location near you?", locations_url)}"


%h3 Customer Satisfaction
%p= "We encourage all of our customers to complete a #{link_to("Customer Satisfaction Survey", 'http://spreadsheets.google.com/viewform?formkey=dFM2c0pDazZNZjNwcGoyUnNXa19VZFE6MA', :target => '_blank')}.  Please take a moment to share your experiences with DentPro."

#contact-map
  %h3 Get Directions
  %iframe{:width=>"800", :height=>"480", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Concord,+CA&amp;sll=37.0625,-95.677068&amp;sspn=41.818029,64.599609&amp;ie=UTF8&amp;hq=&amp;hnear=Concord,+Contra+Costa,+California&amp;ll=37.978033,-122.030983&amp;spn=0.129899,0.21595&amp;z=12&amp;iwloc=A&amp;output=embed"}

  %br
  %small
    %a{:href => "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Concord,+CA&amp;sll=37.0625,-95.677068&amp;sspn=41.818029,64.599609&amp;ie=UTF8&amp;hq=&amp;hnear=Concord,+Contra+Costa,+California&amp;ll=37.978033,-122.030983&amp;spn=0.129899,0.21595&amp;z=12&amp;iwloc=A", :style=>"color:#0000FF;text-align:left", :target => '_blank'}View Larger Map

