%h1 What We Do

#what-we-do

  %h2 Paintless Dent Repair

  %p
    %img.thumb{:src => "/images/imgDentRepair1.jpg", :alt => "Dent Repair Photo"}
    Our innovative, on-site repair service is made possible by a fleet of uniquely equipped mobile units.  Each truck is a complete repair shop on wheels, with the latest in metal sculpting tools and equipment.  The DentPro technicians can virtually eliminate any trace of minor damage, without the need for costly fillers, sanding or repainting.

  %p The DentPro system of body repair removes the minor dents and unsightly dings that can make your auto look worn and past its prime. We can make your car look like new without expensive repainting, while eliminating the inconvenience of going to a conventional body shop.

  %br.clear

  %h2 The Repair Process

  %p
    %img.thumb{:src => "/images/imgProcess.jpg", :alt => "Process Photo"}
    DentPro expert technicians are specially trained to repair the dings and dents on your auto to its original factory-finished appearance using innovative, new metal sculpting methods without the use of expensive and environmentally damaging paint or fillers. DentPro uses special tools to get in behind the dent and massage the metal back to its original position. Our technicians can access almost any panel on your car.

  %br.clear
  %br

  %h2 Where It Works
  %p DentPro technicians will try to remove almost any dent to satisfy a customer, but will utilize their past experiences to determine whether or not a dent can be 100% removed. The most important factors that determine whether or not a dent can be removed are as follows:

  %p Where the dent is located on the car - Is it in the middle of a panel (positive), or is it on the edge (negative) of a door, trunk or hood.

  %p Is there paint damage or scrapes across multiple panels - This usually tells us the damage will be too severe, or we will crack the paint when the dent is worked on or removed.

  %p DentPro technicians have the ability to remove dents on all makes and models of cars. They also have the ability to work on all panels of the cars, except in the following cases:

  %ul
    %li Most edges of a car door, hood, trunk, etc. are double metal and are difficult to work. Some small dents are removable when on these edges.
    %li The rounded areas above and below the front and rear lighting assemblies.
    %li Around the lock on the doors and trunk, especially if it was broken into.
    %li The edges along the front and back of the roof and hood.
    %li We do not work on chrome, metal or rubber bumpers.


  %h2 Our Guarantee

  %p
    %img.thumb-small{:src => "/images/imgGuarantee.jpg", :alt => "Guarantee Photo"}
    At DentPro we want you to be completely satisfied with the repair, or you will not be charged. Service and quality is important to us, that's why we make this commitment to you.

    %br
    %br

    %b Our Commitment To Quality:
    %ul
      %li Provide the highest quality dent repair and paint touch-up in the industry
      %li Provide service in the least amount of time at the best value possible
      %li Respond promptly to each customer every time
      %li Always schedule repairs at the convenience of the customer
      %li Use environmentally safe products and methods
      %li Conduct every aspect of business in a friendly, professional manner
      %li Provide expertly trained technicians to ensure ongoing satisfaction


  %h2 Paintless Dent Repair FAQ's

  %p
    %b What is paintless dent repair?
    %br
    Paintless dent repair is a process which returns a car to "pre-dent" condition without damaging or adding paint.

  %p
    %b How do you remove the dents?
    %br
    DentPro® uses special tools to get in behind the dent and massage the metal back to its original position. Our technicians can access almost any part on your car.

  %p
    %b Are your technicians certified and insured?
    %br
    Our technicians undergo an 8 week intensive on hands training course that teaches them how to repair dents and dings the "DentPro Way". Each technician undergoes an ongoing certification. Also, our insurance surpasses the industry standard amounts required.

  %p
    %b What do I do if I'm not satisfied?
    %br
    The DentPro® guarantee is that if you are not completely satisfied with the work, you do not have to pay.

  %p
    %b How long can I expect the process to take?
    %br
    Most work is completed in 30 minutes to 2 hours - depending on the degree of difficulty. Appointments are scheduled at the customer's convenience, usually within a few days of your initial call.

  %p
    %b Is paintless dent repair an accepted alternative by the insurance industry?
    %br
    Yes! Paintless dent repair is accepted by the insurance industry.

  %p
    %b How much does an average service cost, both paintless dent repair and colors?
    %br
    The average retail dent service is between $135 and $165. The average touch-up paint service is around $150.

  %p
    %b What do I have to do to set up an appointment?
    %br
    Contact us and you'll receive a prompt return call to set an appointment time and place. The DentPro technician will meet you, inspect the work to be performed and give a final estimate before doing the repair.

  %h2 Paint Repair


  %p
    %img.thumb{:src => '/images/imgWhereItWorks.jpg', :alt => 'Where it Works'}
    Each truck comes to your home or job with the technology to perfectly match new paint to your vehicles color.  DentPro Colors technicians use only high quality, long lasting paint to repair scratches, minor chips and blemishes on most every surface.

  %br.clear
  %br

  %p
    %img.thumb{:src => '/images/imgWhereItWorks6.jpg', :alt => 'Where it Works'}
    The DentPro Colors system of color touch-up eliminates minor surface damage that can make your car look past its prime. We can make your car look like new without the expense and inconvenience often associated with going to conventional automotive paint shops.


  %br.clear
  %br
  %br

  %div
    #we-repair.col-one
      %p
        %b We Repair:
        %ul
          %li Aluminum
          %li Steel
          %li Fiberglass
          %li Plastic (bumpers)

    #we-provide.col-two
      %p
        %b DentPro Colors provides:
        %ul
          %li Free written estimates
          %li Substantial savings
          %li Service on all makes and models
          %li Expertly trained and insured technicians
          %li Environmentally safe technique
          %li Quality work on repairs other shops won't touch
          %li Satisfaction 100% guaranteed


