%h1 What We Do

#what-we-do

  %h2 Paintless Dent Repair
  %p Our innovative, on-site repair service is made possible by a fleet of uniquely equipped mobile units.  Each truck is a complete repair shop on wheels, with the latest in metal sculpting tools and equipment.  The DentPro technicians can virtually eliminate any trace of minor damage, without the need for costly fillers, sanding or repainting.

  %h2 Paint Repair

  %div
    %img.col-one{:src => '/images/imgWhereItWorks.jpg'}

    %p.col-two.large Each truck comes to your home or job with the technology to perfectly match new paint to your vehicles color.  DentPro Colors technicians use only high quality, long lasting paint to repair scratches, minor chips and blemishes on most every surface.

  %br.clear
  %br

  %div
    %p.col-one.large The DentPro Colors system of color touch-up eliminates minor surface damage that can make your car look past its prime. We can make your car look like new without the expense and inconvenience often associated with going to conventional automotive paint shops.

    %img.col-two{:src => '/images/imgWhereItWorks6.jpg'}

  %br.clear
  %br
  %br

  %div
    #we-repair.col-one
      %p
        %b We Repair:
        %ul
          %li Aluminum
          %li Steel
          %li Fiberglass
          %li Plastic (bumpers)

    #we-provide.col-two
      %p
        %b DentPro Colors provides:
        %ul
          %li Free written estimates
          %li Substantial savings
          %li Service on all makes and models
          %li Expertly trained and insured technicians
          %li Environmentally safe technique
          %li Quality work on repairs other shops won't touch
          %li Satisfaction 100% guaranteed




