- flash.each do |key, value|
  %div.flash-wrapper
    - if [:info, :notice, :success].include? key
      %div.flash.success
        %p= value
    - elsif [:warn, :error, :fatal, :failure].include? key
      %div.flash.error
        %p= value

